.main_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0 0 0;
}

.logo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.logo_cont .home_page_logo {
  width: 720px;
  aspect-ratio: 5/3;
  opacity: 1;
  animation: logoAnimation 1.5s;
  user-select: none;
}

.information_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.information_card_container span {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

@keyframes logoAnimation {
  0% {
    transform: translateY(25px) scale(1.1);
    opacity: 0;
  }
  80% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
.bottom_cont {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 1;
  margin-top: 144px;
  width: 100%;
}

.carousel {
  perspective: 3000px;
  user-select: none;
  margin-bottom: 160px;
  width: 206px;
  height: 206px;
  position: relative;
  rotate: 5deg;
  margin-right: 20%;
}
.carousel .slider {
  transform-style: preserve-3d;
}
.carousel .slider .img_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 480px;
  border-radius: 48px;
  aspect-ratio: 8/7;
  transform-origin: center;
  transform-style: preserve-3d;
}

@media only screen and (min-width: 1200px) {
  .main_cont {
    padding: calc(1vw * 4.18) 0 0 0;
  }
  .logo_cont .home_page_logo {
    width: calc(1vw * 60);
  }
  .carousel .slider .img_cont {
    width: 40vw;
    border-radius: 4vw;
  }
  .bottom_cont {
    margin-top: 12vw;
  }
  .carousel {
    perspective: 250vw;
    margin-bottom: 10vw;
  }
  .carousel .slider {
    width: 18vw;
    height: 18vw;
  }
  .carousel .slider .img_cont div img {
    padding: 2vw;
    width: 36vw;
    border-radius: 4vw;
  }
}
