@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");
.main_cont {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 12% 0 12%;
}

.main_cont .top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 84px;
  margin-bottom: 30px;
}
.main_cont .top_section .header_top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.main_cont .top_section h1 {
  color: var(--white);
  user-select: none;
  font-size: 84px;
  line-height: 72px;
  font-weight: 600;
}

.main_cont .top_section p {
  color: var(--gold);
  font-size: 36px;
  margin-top: 24px;
  line-height: 72px;
  user-select: none;
}
.filter_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
  margin-top: 66px;
  margin-bottom: 132px;
  user-select: none;
}
.filter_cont .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  user-select: none;
}
.filter_cont .column div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  position: relative;
}
.filter_cont .column div img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  filter: grayscale();
  cursor: pointer;
  transition: filter 0.2s;
  user-select: none;
  opacity: 1;
}

.filter_cont .column div p {
  position: absolute;
  color: var(--white);
  bottom: 3%;
  left: 10%;
  user-select: none;
  opacity: 0;
  transition: bottom 0.35s, opacity 0.35s;
  font-size: 24px;
  pointer-events: none;
}
.filter_cont .column div:hover p {
  bottom: 6%;
  left: 10%;
  user-select: none;
  opacity: 1;
}
.filter_cont .column div img:hover {
  filter: none;
}
@media only screen and (min-width: 1200px) {
  .main_cont {
    padding:  4.18vw 12% 0 12%;
    
  }
  .main_cont .top_section {
    margin-top: 7vw;
    margin-bottom: 2.5vw;
  }
  .main_cont .top_section h1 {
    font-size: 7vw;
    line-height: 6vw;
  }
  .filter_cont .column div p {
    font-size: 2vw;
  }
  .main_cont .top_section p {
    font-size: 3vw;
    margin-top: 2vw;
    line-height: 6vw;
  }
  .filter_cont {
    gap: 5vw;
    margin-top: 5.5vw;
    margin-bottom: 11vw;
  }
  .filter_cont .column {
    gap: 4vw;
  }
  .filter_cont .column div img {
    border-radius: 1.5vw;
  }
}
